<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="main.css" />
		<title>Index Page</title>
	</head>
	
	<body>

		<style>
			.example{
				font-size: 450%;
				justify-content: center;
			}
			h1{
				font-size: 340%;
				justify-content: center;
			}
		</style>
		
		<div align="center">
			<h1>スキー旅行🎿ぴっぴのルームツアー</h1>
			<div class="example" align="center">
				<a href='/nittei'>日程<br></a>
				<a href='/skiing'>スキー料金<br></a>
				<a href='/rentalcar'>レンタカー<br></a>
				<a href='/Rebuilding'>立て替え<br></a>
				<a href='/money'>支払い<br></a>
			</div>
		</div>
	</body>

</html>