<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>スキー料金</title>
	</head>

  <style>
    .example{
      font-size: 100%;
    }
    .example1{
      display: flex;
      align-items: flex-start;
    }
    .example2{
      display: flex;
      align-items: flex-start;
    }
    .example3{
      font-size: 300%;
      text-align: rigth;
    }
    .example4{
      display: flex;
      align-items: flex-start; /*ここは任意の値でOK*/
      justify-content: flex-end;
    }
    .example5{
      width: 250px;
      font-size: 151%;
    }
    .example6{
      display:flex;
      align-items: center;
      justify-content: center;
      width:100px;
      height:60px;
      background: #338DC9;
      color: #eee;
      text-decoration: none;
      font-size: 170%;
    }
    .example7{
      width: 500px;
      font-size: 150%;
    }
    .example8{
      display: flex;
      justify-content: space-between;
    }
    .example9{
      background-color: white;
    }
    .example10{
      font-size: 180%;
    }
    .example11{
      width: 50px;
    }
    .example12{
      font-size: 170%;
    }
    .sousin{
      font-size: 150%;
    }
    .back{
        font-size: 300%;
        text-align: rigth;
    }
  </style>
  <div align="center" class="example12">
    <h1>スキー旅行🎿ぴっぴのルームツアー</h1>
  </div>
  <!-- --------------------料金表--------------------------- -->
  <div class="example1" align="center">
    <div>
      <table border="1" class="example7">
        <tr align="center" valign="middle">
          <td colspan="4">スキー</td>
          <td>金額</td>
        </tr>
        <tr align="center" valign="middle">
          <td >1</td>
          <td rowspan="3">リフト券</td>
          <td colspan="2">スーパー1日券</td>
          <td>&yen;6,500</td>
        </tr>
        <tr align="center" valign="middle">
          <td>2</td>
          <td colspan="2">1日券(～16:30)</td>
          <td>&yen;4,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>3</td>
          <td colspan="2">4時間券</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>4</td>
          <td rowspan="3">ウェア</td>
          <td colspan="2">上（1日or半日）</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>5</td>
          <td colspan="2">下（1日or半日）</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>6</td>
          <td colspan="2">上下（1日or半日）</td>
          <td>&yen;5,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>8</td>
          <td rowspan="7">スキー</td>
          <td rowspan="2">スキー板</td>
          <td>1日</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>9</td>
          <td>半日</td>
          <td>&yen;2,500</td>
        </tr>
        <tr align="center" valign="middle">
          <td>10</td>
          <td rowspan="2">ブーツ</td>
          <td>1日</td>
          <td>&yen;2,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>11</td>
          <td>半日</td>
          <td>&yen;1,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>12</td>
          <td>ストック</td>
          <td>1日・半日</td>
          <td>&yen;500</td>
        </tr>
        <tr align="center" valign="middle">
          <td>13</td>
          <td rowspan="2">３点セット</td>
          <td>1日</td>
          <td>&yen;5,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>14</td>
          <td>半日</td>
          <td>&yen;4,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>16</td>
          <td rowspan="6">スノボ</td>
          <td rowspan="2">ボード</td>
          <td>1日</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>17</td>
          <td>半日</td>
          <td>&yen;2,500</td>
        </tr>
        <tr align="center" valign="middle">
          <td>18</td>
          <td rowspan="2">ブーツ</td>
          <td>1日</td>
          <td>&yen;3,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>19</td>
          <td>半日</td>
          <td>&yen;2,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>20</td>
          <td rowspan="2">2点セット</td>
          <td>1日</td>
          <td>&yen;5,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>21</td>
          <td>半日</td>
          <td>&yen;4,000</td>
        </tr>
        <tr align="center" valign="middle">
          <td>20</td>
          <td colspan="3">スキー・スノボチェンジ(1回のみ)</td>
          <td>&yen;1,000</td>
        </tr>
      </table>
      <div>
        {% if lift1 and wear1 and chose1 and change1 %}
        <center class="example10">
          <p>1日目<br>
          リフト券：{{lift1}}<br>
          ウェア：{{wear1}}<br>
          {{chose1}}<br>
          チェンジ：{{change1}}</p>
          {% else %}
          <p>{{error}}<p>
          {% endif %}
          {% if lift2 and wear2 and chose2 and change2 %}
          <p>2日目<br>
          リフト券：{{lift2}}<br>
          ウェア：{{wear2}}<br>
          {{chose2}}<br>
          チェンジ：{{change2}}<br>
          {% else %}
          <p>{{error}}<p>
          {% endif %}
        </center>
        <a href='/' class="example3">戻る<br></a>
      </div>
    </div>
    <div class="example11">
    </div>
    <!-- --------------------1日目チェックボックス--------------------------- -->
    <form method="POST" class="example2">
      <div>
        <fieldset class='example5'>
          <legend align="center">１日目</legend>
          <fieldset class='example'>
              <legend>リフト券</legend>
            
              <div>
                <input type="radio" id="SuperAllday1" name="lift1" value="スーパー1日券" checked />
                <label for="superAllday">スーパー1日券</label>
              </div>

          </fieldset>
        
          <fieldset class='example'>
            <legend>ウェア</legend>
            {% if wear1 == "下のみ" %}
          
            <div>
              <input type="radio" id="Wear_up1" name="wear1" value="上のみ" />
              <label for="Wear_up1">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down1" name="wear1" value="下のみ" checked />
              <label for="Wear_down1">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all1" name="wear1" value="上下セット" />
              <label for="Wear_all1">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no1" name="wear1" value="なし" />
              <label for="Wear_no1">なし</label>
            </div>

            {% elif wear1 == "上下セット" %}
          
            <div>
              <input type="radio" id="Wear_up1" name="wear1" value="上のみ" />
              <label for="Wear_up1">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down1" name="wear1" value="下のみ" />
              <label for="Wear_down1">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all1" name="wear1" value="上下セット" checked />
              <label for="Wear_all1">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no1" name="wear1" value="なし" />
              <label for="Wear_no1">なし</label>
            </div>

            {% elif wear1 == "なし" %}
          
            <div>
              <input type="radio" id="Wear_up1" name="wear1" value="上のみ" />
              <label for="Wear_up1">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down1" name="wear1" value="下のみ" />
              <label for="Wear_down1">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all1" name="wear1" value="上下セット" />
              <label for="Wear_all1">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no1" name="wear1" value="なし" checked />
              <label for="Wear_no1">なし</label>
            </div>

            {% else %}
          
            <div>
              <input type="radio" id="Wear_up1" name="wear1" value="上のみ" checked />
              <label for="Wear_up1">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down1" name="wear1" value="下のみ" />
              <label for="Wear_down1">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all1" name="wear1" value="上下セット" />
              <label for="Wear_all1">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no1" name="wear1" value="なし" />
              <label for="Wear_no1">なし</label>
            </div>

            {% endif %}

          </fieldset>
        
          <fieldset class='example'>
            <legend>スキーorスノボ</legend>
            
            {% if chose1 == "スノボ" %}

            <div>
              <input type="radio" id="Sukii1" name="chose1" value="スキー" />
              <label for="Sukii1">スキー(1日)</label>
            </div>
          
            <div>
              <input type="radio" id="Sunobo1" name="chose1" value="スノボ" checked />
              <label for="Sunobo1">スノボ(1日)</label>
            </div>

            {% else %}

            <div>
              <input type="radio" id="Sukii1" name="chose1" value="スキー" checked />
              <label for="Sukii1">スキー(1日)</label>
            </div>
          
            <div>
              <input type="radio" id="Sunobo1" name="chose1" value="スノボ" />
              <label for="Sunobo1">スノボ(1日)</label>
            </div>

            {% endif %}

          </fieldset>

          <fieldset class='example'>
            <legend>チェンジ</legend>

            {% if change1 == "なし" %}
          
            <div>
              <input type="radio" id="Yes1" name="change1" value="あり" />
              <label for="Yes1">あり</label>
            </div>
          
            <div>
              <input type="radio" id="No1" name="change1" value="なし" checked />
              <label for="No1">なし</label>
            </div>

            {% else %}

            <div>
              <input type="radio" id="Yes1" name="change1" value="あり" checked />
              <label for="Yes1">あり</label>
            </div>
          
            <div>
              <input type="radio" id="No1" name="change1" value="なし" />
              <label for="No1">なし</label>
            </div>

            {% endif %}

          </fieldset>
        </fieldset>
        <!--
        {% if lift1 and wear1 and chose1 and change1 %}
        <center >
          <p>1日目</p>
          <p>リフト券：{{lift1}}</p>
          <p>ウェア：{{wear1}}</p>
          <p>{{chose1}}</p>
          <p>チェンジ：{{change1}}</p>
        </center>
        {% else %}
        <p>{{error}}<p>
        {% endif %} 
      -->
      <!-- --------------------2日目チェックボックス--------------------------- -->
        <fieldset class='example5'>
          <legend align="center">２日目</legend>
          <fieldset class='example'>
              <legend>リフト券</legend>
            
              <div>
                <input type="radio" id="4Hour2" name="lift2" value="4時間券" checked/>
                <label for="4Hour2">4時間券</label>
              </div>
          </fieldset>
        
          <fieldset class='example'>
            <legend>ウェア</legend>

            {% if wear2 == "下のみ" %}
          
            <div>
              <input type="radio" id="Wear_up2" name="wear2" value="上のみ" />
              <label for="Wear_up2">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down2" name="wear2" value="下のみ" checked />
              <label for="Wear_down2">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all2" name="wear2" value="上下セット" />
              <label for="Wear_all2">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no2" name="wear2" value="なし" />
              <label for="Wear_no2">なし</label>
            </div>

            {% elif wear2 == "上下セット" %}

            <div>
              <input type="radio" id="Wear_up2" name="wear2" value="上のみ" />
              <label for="Wear_up2">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down2" name="wear2" value="下のみ" />
              <label for="Wear_down2">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all2" name="wear2" value="上下セット" checked />
              <label for="Wear_all2">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no2" name="wear2" value="なし" />
              <label for="Wear_no2">なし</label>
            </div>

            {% elif wear2 == "なし" %}

            <div>
              <input type="radio" id="Wear_up2" name="wear2" value="上のみ" />
              <label for="Wear_up2">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down2" name="wear2" value="下のみ" />
              <label for="Wear_down2">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all2" name="wear2" value="上下セット" />
              <label for="Wear_all2">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no2" name="wear2" value="なし" checked />
              <label for="Wear_no2">なし</label>
            </div>

            {% else %}

            <div>
              <input type="radio" id="Wear_up2" name="wear2" value="上のみ" checked />
              <label for="Wear_up2">上のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_down2" name="wear2" value="下のみ" />
              <label for="Wear_down2">下のみ</label>
            </div>
          
            <div>
              <input type="radio" id="Wear_all2" name="wear2" value="上下セット" />
              <label for="Wear_all2">上下セット</label>
            </div>

            <div>
              <input type="radio" id="Wear_no2" name="wear2" value="なし" />
              <label for="Wear_no2">なし</label>
            </div>

            {% endif %}

          </fieldset>
        
          <fieldset class='example'>
            <legend>スキーorスノボ</legend>

            {% if chose2 == "スノボ" %}
          
            <div>
              <input type="radio" id="Sukii2" name="chose2" value="スキー" />
              <label for="Sukii2">スキー(半日)</label>
            </div>

            <div>
              <input type="radio" id="Sunobo2" name="chose2" value="スノボ" checked />
              <label for="Sunobo2">スノボ(半日)</label>
            </div>

            {% else %}

            <div>
              <input type="radio" id="Sukii2" name="chose2" value="スキー" checked />
              <label for="Sukii2">スキー(半日)</label>
            </div>

            <div>
              <input type="radio" id="Sunobo2" name="chose2" value="スノボ" />
              <label for="Sunobo2">スノボ(半日)</label>
            </div>

            {% endif %}

          </fieldset>
          
          <fieldset class='example'>
            <legend>チェンジ2</legend>

            {% if change1 == "なし" %}
          
            <div>
              <input type="radio" id="Yes2" name="change2" value="あり" />
              <label for="Yes2">あり</label>
            </div>
          
            <div>
              <input type="radio" id="No2" name="change2" value="なし" checked />
              <label for="No2">なし</label>
            </div>

            {% else %}

            <div>
              <input type="radio" id="Yes2" name="change2" value="あり" checked />
              <label for="Yes2">あり</label>
            </div>
          
            <div>
              <input type="radio" id="No2" name="change2" value="なし" />
              <label for="No2">なし</label>
            </div>

            {% endif %}

          </fieldset>
        </fieldset>
        <!--
        {% if lift2 and wear2 and chose2 and change2 %}
        <center>
        <p>2日目</p>
        <p>リフト券：{{lift2}}</p>
        <p>ウェア：{{wear2}}</p>
        <p>{{chose2}}</p>
        <p>チェンジ：{{change2}}</p>
        </center>
        {% else %}
        <p>{{error}}<p>
        {% endif %}
        -->
        <div class="example8">
          <div class="example10">
            {% if money %}
            <p>￥{{money}}</p>
            {% else %}
            <p>{{error}}<p>
            {% endif %}
          </div>
          <div class="example9">
            <input type="submit" value="送信" class="sousin">
          </div>
        </div>
      </div>
    </form>
  </div>	
</html>